<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>10</batches>
  <inactive>0</inactive>
  <source strength="1.0">
    <space type="box">
      <parameters>-5.0 -5.0 -10.0 5.0 5.0 10.0</parameters>
    </space>
  </source>
</settings>
